<h1>New Game</h1>
<p><%= @letters%></p>

<p>What is the longest word you can find?</p>

<form action="/score" method="score" data-turbo="false">
  <%= hidden_field_tag :letters, @letters%>
  <input type="text" name="word">
  <input type="submit" value="play">
</form>
